*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(185, 231, 231);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color:azure;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0.1rem 0 6rem  red;
    font-size: 10vmin;
    color: rgb(83, 19, 144);
}
.reset-btn{
    padding: 1rem;
    font-size: 1,25rem;
    background-color:black; 
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}
.newgame{
    height: 15vmin;
    width: 50vmin;
    border-radius: 4px;
    border: none;
    background-color: rgb(240, 47, 47);
    color: azure;
    font-size: larger;
}
.newgame:hover{
    border: 2px solid black;
    background-color: rgb(53, 33, 235);
    color: azure;
}
.reset-btn:hover{
    border: 2px solid black;
    background-color: rgb(53, 33, 235);
    color: azure;
}
#msg{
    font-size: 15vmin;
}
.hide{
    display: none;
}
